@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductModel?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
